.AddBtn {
  width: 5rem;
  height: 5rem;
  background-color: #455561;
  border-radius: 8rem;
  margin-top: 30px;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  color: #ccc;
  /* position: absolute;
  left: 10%;
  top: 30%; */
}

.AddBtn:hover {
  background-color: #36414a;
}
