.Container {
  display: flex;
  justify-content: center;
}

.HomeContainer {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomeTitle {
  font-weight: 500;
  font-size: 48;
  text-align: center;
  color: #31b88c;
}
